@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stifly';
  src: url('../public/Stifly-8MGpA.ttf') format('truetype');
}

@font-face {
  font-family: 'Francisco';
  src: url('../public/francisco_serial-regular.otf') format('opentype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-family: Francisco, serif, system-ui;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  box-shadow: 8px 8px black;
}

button:hover {
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-family: Francisco, serif, system-ui;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  box-shadow: 4px 4px black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
